@model IEnumerable<Engage360plusUI.Models.DTO.AddressDto>
@{
}
<h1 class=" mt-3">Addresses</h1>
<div class="d-flex justify-content-end">
    <a class =" btn btn-secondary" asp-controller="Address" asp-action="Add">Add Address</a>
</div>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>Country</th>
            <th>Region</th>
            <th>PostalCode</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.City</td>
                <td>@customer.Country</td>
                <td>@customer.Region</td>
                <td>@customer.PostalCode</td>
                <td>
                    <a asp-controller="Address" asp-action="Edit" asp-route-id="@customer.Id" class="btn btn-light">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>